.banner {
    width: 100%;
    position: relative;
}
.banner-img {
    width: 100%;
    height: 450px;
    object-fit: cover;
    overflow: hidden;
}

.search{
    background-color: #fff;
    position: absolute;
    bottom: -10%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 8px;
    z-index: 1000;
    padding: 16px 20px;
}
.search-title{
    font-size: 2.8rem;
    text-align: center;
    font-weight: 700;
    font-style: italic;
    color: #000;
}
.form__search{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;

}

.search-control{
    display: flex;
    align-items: center;
    gap: 18px;
    border: 1px solid #ccc;
    padding: 8px 16px;
    width: 33%;
    height: 52px;
    
}
.search-icon{
    font-size: 24px;
}
.search-icon__down{
    margin-left: auto;
    cursor: pointer;
}
.search-date{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 2rem;
    cursor: pointer;
}

.chose{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
}

.chose-title{
    font-size: 2rem;
    font-weight: 300;
}
.chose-click{
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    gap: 12px;
}
.chose-btn{
    font-size: 1.6rem;
    border: 1px solid #3774e8;
    color: #3774e8;
    border-radius: 50%;
    background-color: transparent;    
}

// list room
.room-list {
    margin-top: 32px;
}
.room-list__title {
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    padding: 12px;
}

.room-img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}
.card-item {
    box-shadow: 1px 1px 2px #ccc;
    margin-bottom: 12px;
}
.card-item:hover {
    box-shadow: 1px 1px 8px #ccc;
}

.card-body {
    padding: 20px;
}
.card-title {
    font-size: 20px;
}
.card-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    height: calc(16px * 1.5 * 4);
    display: -webkit-box;
    -webkit-line-clamp: 4; /* số dòng hiển thị */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.price {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card-price-discount,
.card-price {
    width: 50%;
}
.card-price {
    color: #ccc;
    text-decoration: line-through;
    border-right: 1px solid #ccc;
    font-size: 14px;
    margin: 0 4px 0 0;
}
.card-price-discount {
    margin-bottom: 0;
    color: red;
    font-size: 16px;
}

.btn-order {
    text-align: right;
    font-size: 16px;
    margin-top: 12px;
}

// Service

.facilities {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
}
.facilities-item {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}
.facilities-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.facilities-titile {
    font-size: 2.6rem;
    font-weight: 700;
    margin: 6px 0;
}

.btn-more {
    margin: 0 auto;
    font-size: 2rem;
    margin-top: 12px;
    border: 1px solid #000;
    color: #000;
}
