.Discount{
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: #6969dd #e0e0e0;

}
.DiscountTitle{
    text-align: center;
    font-size: 3.2rem;
    font-weight: 700;

    position: absolute;
    left: 50%;
}
.form-searchDiscount{
    position: absolute;
    left: 30%;
    top: 12%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-addDiscount{
    position: absolute;
    right: 10%;
    font-size: 1.6rem;
    font-weight: 500;
    top: 19%;
}

.search-Discount {
    position: relative;
    margin-top: 42px;
}
.search-Discount input {
    outline: none;
    font-size: 1.6rem;
    padding: 4px 8px;
    font-weight: 300;
    color: #000;
    border-radius: 8px;
}
.search-Discount .Discount-icon {
    font-size: 18px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5%;
}
.header-Discount{
    font-size: 1.6rem;
    // text-align: center;
}

.table-Discount{
    margin-top: 84px;
}
.btn-action{
    font-size: 16px;
    font-weight: 500;
}

//modal
.modal-heading{
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
}

.hotel-control{
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-bottom: 6px;

    .hotel-label {
        font-size: 16px;
        line-height: 20px;
        font-weight: 400;
        color: #333;
    }
    .hotel-input {
        display: block;
        appearance: none;
        margin-top: 0px;
        margin-bottom: 0px;
        transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
        width: 100%;
        color: rgb(42, 42, 46);
        border: 1px solid rgb(206, 208, 212);
        padding: 8px;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        cursor: pointer;
        border-radius: 4px;
    }
    .hotel-input:focus {
        border-color: rgb(83, 146, 249);
        outline: 0px;
        box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px inset, rgb(83, 146, 249) 0px 0px 6px;
    }
}

.btn-action{
    font-size: 1.8rem;
    margin: auto;
}