// list customer
.customerAdd,
.customer {
    padding: 12px;
}
.customerTitle {
    text-align: center;
    font-size: 3.2rem;
    font-weight: 600;
}

.btn-add {
    font-size: 1.6rem;
    font-weight: 500;
    padding: 6px 12px;
    text-align: right;
}


.formUser td {
    padding: 12px 0;
}

.action {
    min-width: 130px;
    text-align: right;
}
.action .btn-action {
    padding: 6px 12px;
    font-size: 12px;
    margin-left: 12px;
}

.search-customer {
    position: relative;
}
.search-customer input {
    outline: none;
    font-size: 1.6rem;
    padding: 4px 8px;
    font-weight: 300;
    color: #000;
    border-radius: 8px;
}
.search-customer .search-icon {
    font-size: 18px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5%;
}

// add new customer

